<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="program.admin.member.mapper.AdminMemberMapper">
    
    <select id="getMemberList" resultType="cMap">
    	/* getMemberList :: 관리자 회원 리스트 조회 */
		SELECT *, DATE_FORMAT(REG_DT, '%Y-%m-%d') AS REG_DT_YMD, DATE_FORMAT(LAST_LOGIN_DT, '%Y-%m-%d') AS LAST_LOGIN_DT_YMD
		  FROM member
		 WHERE ENABLE = 'Y';
    </select>
    
    <select id="getMemberInfo" resultType="cMap" parameterType="dMap">
    	/* getMemberInfo :: 관리자 회원 정보 조회 */
		SELECT *, DATE_FORMAT(REG_DT, '%Y-%m-%d') AS REG_DT_YMD, DATE_FORMAT(LAST_LOGIN_DT, '%Y-%m-%d') AS LAST_LOGIN_DT_YMD
		  FROM member
		 WHERE MEM_NUM = #{memNum}
    </select> 
    
    <update id="memberdelete" parameterType="dMap">
    	/* memberdelete :: 회원 정보 삭제 */
    	UPDATE member SET
               ENABLE = 'N'
         WHERE MEM_NUM = #{memNum}
    </update>       
</mapper>