<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="program.admin.member.mapper.AdminMemberMapper">
    
    <select id="getMemberList" resultType="cMap">
    	/* getMemberList :: 관리자 회원 리스트 조회 */
		SELECT *, DATE_FORMAT(REG_DT, '%Y-%m-%d') AS REG_DT_YMD, DATE_FORMAT(LAST_LOGIN_DT, '%Y-%m-%d') AS LAST_LOGIN_DT_YMD
		  FROM member
		 WHERE ENABLE = 'Y';
    </select>
    
    <select id="getMemberInfo" resultType="cMap" parameterType="dMap">
    	/* getMemberInfo :: 관리자 회원 정보 조회 */
		SELECT *, DATE_FORMAT(REG_DT, '%Y-%m-%d') AS REG_DT_YMD, DATE_FORMAT(LAST_LOGIN_DT, '%Y-%m-%d') AS LAST_LOGIN_DT_YMD
		  FROM member
		 WHERE MEM_NUM = #{memNum}
    </select> 
    
    <update id="memberdelete" parameterType="dMap">
    	/* memberdelete :: 회원 정보 삭제 */
    	UPDATE member SET
               ENABLE = 'N'
         WHERE MEM_NUM = #{memNum}
    </update>       
    
   	<select id="getLoginInfo" resultType="program.security.Account">
	   	/* getLoginInfo :: 로그인 처리 */
		SELECT 
			MEM_NUM as id, USER_ID as username 
			, USER_PW as password, NICK_NAME as name
			, CASE WHEN (USER_TYPE='A') THEN 'ROLE_ADMIN' WHEN (USER_TYPE='G') THEN 'ROLE_USER'   
			ELSE 'ROLE_NOT' END as role 
		FROM member WHERE USER_ID = #{userId}
		AND ENABLE = "Y"
   </select>
   
   	<select id="selectMemberInfo" resultType="cMap" parameterType="dMap">
	  /* selectMemberInfo:: 회원 관리 상세 조회 */
	  SELECT * FROM member
	    WHERE MEM_NUM = #{memNum}
	</select>
</mapper>