<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="program.admin.member.mapper.AdminMemberMapper">
    
    <select id="getMemberList" resultType="cMap">
    	/* getMemberList :: 관리자 회원 리스트 조회 */
		SELECT *, DATE_FORMAT(REG_DT, '%Y-%m-%d') AS REG_DT_YMD, DATE_FORMAT(LAST_LOGIN_DT, '%Y-%m-%d') AS LAST_LOGIN_DT_YMD
		  FROM member
		 WHERE ENABLE = 'Y';
    </select>
    
    <select id="getMemberInfo" resultType="cMap" parameterType="dMap">
    	/* getMemberInfo :: 관리자 회원 정보 조회 */
		SELECT *, DATE_FORMAT(REG_DT, '%Y-%m-%d') AS REG_DT_YMD, DATE_FORMAT(LAST_LOGIN_DT, '%Y-%m-%d') AS LAST_LOGIN_DT_YMD
		  FROM member
		 WHERE MEM_NUM = #{memNum}
    </select> 
    
    <update id="memberdelete" parameterType="dMap">
    	/* memberdelete :: 회원 정보 삭제 */
    	UPDATE member SET
               ENABLE = 'N'
         WHERE MEM_NUM = #{memNum}
    </update>       
    
   	<select id="getLoginInfo" resultType="program.security.Account">
	   	/* getLoginInfo :: 로그인 처리 */
		SELECT 
			USER_SEQ as id, USER_ID as username 
			, USER_PWD as password, USER_NM as name
			, CASE WHEN (USER_TYPE='MST001') THEN 'ROLE_ADMIN' WHEN (USER_TYPE='MST002') THEN 'ROLE_USER'   
			ELSE 'ROLE_NOT' END as role 
		FROM TB_MEMBER WHERE USER_ID = #{username}
		AND STATUS IN ('MES001')
   </select>
   
   	<select id="selectMemberInfo" resultType="cMap" parameterType="dMap">
	  /* selectMemberInfo:: 회원 관리 상세 조회 */
	  SELECT * FROM TB_MEMBER
	    WHERE USER_SEQ = #{userSeq} AND STATUS = 'MES001'
	</select>
    
    
</mapper>