<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="program.admin.textboard.mapper.AdminTextBoardMapper">

	<insert id="insertSiteBoard" parameterType="dMap">
 		INSERT INTO site_board(TITLE, SUB_TITLE, C_URL, ATT_FILE, CONTENTS, REG_ID, REG_DT)
      	VALUES (#{title}, #{subTitle}, #{cUrl}, #{attFile}, #{contents}, #{regId}, now()) 	
 	</insert>	
 	
 	<update id="updateSiteBoard" parameterType="dMap">
 		
 	</update>

	<select id="getNoticeList" resultType="cMap">
		SELECT *, DATE_FORMAT(REG_DT, '%Y-%m-%d') AS REG_DT_YMD
		  FROM site_board
	</select>
	
	<select id="getNoticeInfo" resultType="cMap" parameterType="dMap">
		SELECT *, DATE_FORMAT(REG_DT, '%Y-%m-%d') AS REG_DT_YMD
		  FROM site_board
		WHERE SEQ = #{seq}
	</select>
	
	<select id="getBoardList" resultType="cMap">
 		SELECT a.BOARD_SSN, a.TITLE, a.CONTENTS, a.ATT_FILE , a.U_NAME, a.REG_ID, a.REG_DT_YMD, a.HASH_TAG, a.SCRAPS, COUNT(a.SEQ) AS COMMENTS
		  FROM(
		  		SELECT   b.BOARD_SSN , b.TITLE, b.CONTENTS, b.ATT_FILE, b.U_NAME, b.REG_ID, b.HASH_TAG, c.SEQ
		  		, DATE_FORMAT(b.REG_DT, '%Y-%m-%d') AS REG_DT_YMD, COUNT(s.SCRAP_NO) AS SCRAPS
		         FROM  bboom_board b
		         LEFT JOIN board_comment c 
		         ON b.BOARD_SSN=c.LINK_SEQ 
		         LEFT JOIN board_scrap s
		         ON b.BOARD_SSN=s.LINK_SEQ
		         GROUP BY b.BOARD_SSN, b.TITLE, b.CONTENTS, b.ATT_FILE, b.U_NAME, b.REG_ID, b.REG_DT, b.HASH_TAG, c.SEQ
		      )a
		   GROUP BY a.BOARD_SSN, a.TITLE, a.CONTENTS, a.ATT_FILE, a.U_NAME, a.REG_ID, a.REG_DT_YMD, a.SCRAPS, a.HASH_TAG
 	</select>
 	
 	<select id="getBoardInfo" resultType="cMap" parameterType="dMap">
 		SELECT a.BOARD_SSN, a.TITLE, a.CONTENTS, a.ATT_FILE , a.U_NAME, a.REG_ID, a.REG_DT_YMD, a.HASH_TAG, a.SCRAPS, COUNT(a.SEQ) AS COMMENTS
		  FROM(
		  		SELECT   b.BOARD_SSN , b.TITLE, b.CONTENTS, b.ATT_FILE, b.U_NAME, b.REG_ID, b.HASH_TAG, c.SEQ
		  		, DATE_FORMAT(b.REG_DT, '%Y-%m-%d') AS REG_DT_YMD, COUNT(s.SCRAP_NO) AS SCRAPS
		         FROM  bboom_board b
		         LEFT JOIN board_comment c 
		         ON b.BOARD_SSN=c.LINK_SEQ 
		         LEFT JOIN board_scrap s
		         ON b.BOARD_SSN=s.LINK_SEQ
		         GROUP BY b.BOARD_SSN, b.TITLE, b.CONTENTS, b.ATT_FILE, b.U_NAME, b.REG_ID, b.REG_DT, b.HASH_TAG, c.SEQ
		      )a
		   WHERE BOARD_SSN = #{boardSsn}
		   GROUP BY a.BOARD_SSN, a.TITLE, a.CONTENTS, a.ATT_FILE, a.U_NAME, a.REG_ID, a.REG_DT_YMD, a.SCRAPS, a.HASH_TAG
 	</select>
 	
 	<insert id="postFeedback" parameterType="dMap">
 		INSERT INTO board_feedback(LINK_SEQ, TITLE, CONTENTS, REG_DT)
 		VALUES(#{linkSeq},#{title},#{contents},now())
 	</insert>
 	
 	<select id="getCommentList" parameterType="dMap" resultType="cMap">
 		SELECT *, DATE_FORMAT(REG_DT, '%Y-%m-%d') AS REG_DT_YMD
 		FROM board_comment
 		WHERE LINK_SEQ=#{linkSeq}
 	</select>		
</mapper>