<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="program.member.mapper.MemberMapper">
    <insert id="memberinsert" parameterType="cMap">
    	/* memberinsert :: 회원 추가 */
    	INSERT INTO member(USER_ID, USER_PW, NICK_NAME, EMAIL, STATUS, GENDER, ENABLE, USER_TYPE, REG_DT)
    	VALUES (#{userId}, #{userPw}, #{nickName}, #{email}, 'D', #{gender}, 'Y', 'A', NOW());
    </insert>
    
    <select id="getFindId" resultType="cMap" parameterType="dMap">
    	/* findid :: 아이디 찾기 */
		SELECT USER_ID
		FROM member
		WHERE email = #{email}
    </select>
</mapper>