<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="program.mypage.mapper.MypageMapper">
    
    
    <select id="getThisMemberInfo" resultType="cMap" parameterType="dMap">
    	/* getThisMemberInfo :: 현재 사용자 정보 조회 */
		SELECT *
		  FROM member
		 WHERE MEM_NUM = #{memNum}
    </select>
    
    <select id="getBoardList" resultType="cMap">
    	/* getBoardList :: 게시글 리스트 조회 */
    	SELECT a.BOARD_SSN, a.TITLE, a.CONTENTS, a.ATT_FILE , a.U_NAME, a.REG_ID AS ID, a.REG_DT_YMD, a.HASH_TAG, a.SCRAPS, COUNT(a.SEQ) AS COMMENTS
		  FROM(
		  		SELECT   b.BOARD_SSN , b.TITLE, b.CONTENTS, b.ATT_FILE, b.U_NAME, b.REG_ID, b.HASH_TAG, c.SEQ
		  		, DATE_FORMAT(b.REG_DT, '%Y-%m-%d') AS REG_DT_YMD, COUNT(s.SCRAP_NO) AS SCRAPS
		         FROM  bboom_board b
		         LEFT JOIN board_comment c 
		         ON b.BOARD_SSN=c.LINK_SEQ 
		         LEFT JOIN board_scrap s
		         ON b.BOARD_SSN=s.LINK_SEQ
		         GROUP BY b.BOARD_SSN, b.TITLE, b.CONTENTS, b.ATT_FILE, b.U_NAME, b.REG_ID, b.REG_DT, b.HASH_TAG, c.SEQ
		      )a
		   WHERE U_NAME= #{uName}
		   GROUP BY a.BOARD_SSN, a.TITLE, a.CONTENTS, a.ATT_FILE, a.U_NAME, a.REG_ID, a.REG_DT_YMD, a.SCRAPS, a.HASH_TAG
    </select>
    
    <select id="getScrapList" resultType="cMap">
    	/* getScrapList :: 스크랩 리스트 조회 */
		SELECT *
		, DATE_FORMAT(REG_DT, '%Y-%m-%d') AS REG_DT_YMD
		, SUBSTR(TITLE, 1, 40) AS TITLE_20
		FROM bboom_board
		WHERE U_NAME= #{uName}
		
    </select>
    
    <select id="getCommentList" resultType="cMap">
    	/* getCommentList :: 댓글 리스트 조회 */
		SELECT c.LINK_SEQ, c.`CONTENTS`, c.REG_NM, c.REG_DT, c.SEQ ,b.BOARD_SSN, b.U_NAME, b.TITLE
		, DATE_FORMAT(c.REG_DT, '%Y-%m-%d') AS REG_DT_YMD
		, SUBSTR(b.TITLE, 1, 20) AS TITLE20
		FROM board_comment AS c
		LEFT JOIN bboom_board AS b
		ON c.LINK_SEQ = b.BOARD_SSN
		WHERE REG_NM= #{regNm}  
		
    </select>
    
    <update id="quitMember" parameterType="cMap">
    	/* quitMember :: 회원탈퇴 */
    	UPDATE member
    	   SET ENABLE = "N"	
		 WHERE MEM_NUM = #{memNum}
    	
    </update>
</mapper>