<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="program.mypage.mapper.MypageMapper">
    
    
    <select id="getThisMemberInfo" resultType="cMap" parameterType="dMap">
    	/* getThisMemberInfo :: 현재 사용자 정보 조회 */
		SELECT *
		  FROM member
		 WHERE MEM_NUM = #{memNum}
    </select>
    
    <select id="getBoardList" resultType="cMap">
    	/* getBoardList :: 게시글 리스트 조회 */
		SELECT *, DATE_FORMAT(REG_DT, '%Y-%m-%d') AS REG_DT_YMD
		, SUBSTR(TITLE, 1, 25) AS TITLE_25
		, SUBSTR(CONTENTS, 1, 60) AS CONTENTS_60
		  FROM bboom_board
		
    </select>
    
    <select id="getScrapList" resultType="cMap">
    	/* getScrapList :: 스크랩 리스트 조회 */
		SELECT *
		, DATE_FORMAT(REG_DT, '%Y-%m-%d') AS REG_DT_YMD
		, SUBSTR(TITLE, 1, 40) AS TITLE_20
		FROM bboom_board
		
    </select>
    
    <select id="getCommentList" resultType="cMap">
    	/* getCommentList :: 댓글 리스트 조회 */
		SELECT *, DATE_FORMAT(REG_DT, '%Y-%m-%d') AS REG_DT_YMD
			,SUBSTR(TITLE, 10)
		  FROM board_comment
		
    </select>
</mapper>