.swiper-pagination-bullet {
    opacity: 1;
    border: white solid 1px;
    background-color: transparent;
}
.swiper-pagination-bullet-active {
    background-color: white;
}
.border-sec {
    background: #28a745;
}